<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>709718832158-a8cjg1dme180i48vu7766l8lb4cgpni9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.709718832158-a8cjg1dme180i48vu7766l8lb4cgpni9</string>
	<key>API_KEY</key>
	<string>AIzaSyBv8ekKtVCGqhlFwt9WW2mFlfnmzxZYS1M</string>
	<key>GCM_SENDER_ID</key>
	<string>709718832158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mynotes.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mynotes-sticky-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-sticky-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:709718832158:ios:e096c2b4b0cf8200b7aa0f</string>
</dict>
</plist>